
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 89% 95%; /* Light Blue */
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    
    --primary: 221 89% 61%; /* Saturated Blue */
    --primary-foreground: 0 0% 100%;
    
    --secondary: 216 34% 91%;
    --secondary-foreground: 224 71% 4%;
    --muted: 216 34% 91%;
    --muted-foreground: 223 44% 45%;
    
    --accent: 16 100% 57%; /* Orange */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 221 89% 61%; /* Saturated Blue */
    --radius: 0.5rem;
    
    /* Sidebar specific variables */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 221 83% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 13% 91%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    
    /* Chart specific variables */
    --chart-1: 221 83% 53%;
    --chart-2: 142 76% 36%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 221 89% 61%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 218 24% 63%;
    
    --accent: 16 100% 57%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 221 89% 61%;

    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 221 83% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
    .sidebar-button-primary {
        @apply bg-primary text-primary-foreground;
    }
}

@media print {
  body * {
    visibility: hidden;
  }

  .printable-area, .printable-area *,
  .printable-receipt-area, .printable-receipt-area * {
    visibility: visible;
  }

  .printable-area, .printable-receipt-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .print-hidden {
    display: none !important;
  }
}
